body {
    background-color: #2977D6;
}

.castList {
    background-color: whitesmoke;
    width: 300px;
}

.movieCard {
    background-color: #D68829;
    
}
.List-Wrapper {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    
}

.info-box{
    margin-left: 50px;
}

.filmCard {
    width: 300px;
    background-color: whitesmoke;
}

.listGroupItem {
    display: flex;
    flex-direction: column;
}