body {
    background-color: #2977D6;
}

.castCard {
    background-color: #7accec;
    width: 300px;
}

.movieCard {
    background-color: #D68829;
    
}
.Card-Wrapper {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
}

.info-box{
    margin-left: 50px;
}

.filmCard {
    width: 300px;
    background-color: #7accec;
}